$buttons-wrapper-height: 115px;

.buttons-wrapper {
    display: block;
    position: fixed;
    width: 100%;
    height: $buttons-wrapper-height;
    bottom: $footer-height;
    left: 0;
    padding: 35px 70px;
    background-color: palette(background, buttons-box);

    -webkit-transition: transform 0.33s ease-out;
    -o-transition: transform 0.33s ease-out;
    transition: transform 0.33s ease-out;
}

.bottom-big-buttons {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 40px;
    border: 1px solid palette(text, light);
    border-radius: 2px;
    background-color: transparent;
    color: palette(text, light);
    font-size: 15px;
    cursor: pointer;
    z-index: 9;

    &:nth-of-type(2) {
        float: right;
        border: 0;
        background-color: palette(background, button-continue);
    }
}

.bottom-small-buttons {
    display: block;
    position: absolute;
    width: 100px;
    height: 20px;
    bottom: 15px;
    background-color: transparent;
    border: 0;
    outline: transparent;
    color: palette(text, light);
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}
