$header-height: 90px;
$footer-height: 30px;
$header-info-height: $header-height/2;


// header css
.app-header {
    display: block;
    position: fixed;
    width: 100%;
    height: $header-height;
    top: 0;
    left: 0;
    background-color: palette(header);
    z-index: 10;
}

.app-header-top-info,
.app-header-bottom-info {
    width: 100%;
    height: $header-info-height;
    font-size: 13px;
    font-weight: 400;
    color: palette(text, light);
    text-align: center;
    line-height: 55px;
}

.app-header-bottom-info {
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}


// footer css
.app-footer {
    width: 100%;
    height: $footer-height;
    position: fixed;
    bottom: 0;
    left: 0;
    color: palette(text, light);
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    line-height: $footer-height;
    background-color: palette(footer);
    z-index: 10;
}


// main app container css
.app-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flight-details-title {
    display: block;
    position: relative;
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: palette(text, dark);
    font-size: 12px;
    font-weight: 600;
    margin: 0 auto;
    margin-top: 50px;
}

.login-wrapper,
.question-wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 60px;
    overflow: auto;

    -webkit-transition: transform 0.33s ease-out;
    -o-transition: transform 0.33s ease-out;
    transition: transform 0.33s ease-out;

    &.phaseUp {
        position: absolute;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    &.phaseDown {
        position: absolute;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}

