$person-box-height: 200px;
$person-box-bottom-top-height: 200px/2;
$questions-sub-header-height: 40px;

@mixin openQuestionTransition() {
    -webkit-transition: height 0.33s ease-out, padding 0.33s ease-out;
    -o-transition: height 0.33s ease-out, padding 0.33s ease-out;
    transition: height 0.33s ease-out, padding 0.33s ease-out;
}

// change input height if these values change

// person css
.person-box,
.flight-box,
.question-item {
    display: block;
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(102, 102, 102, 0.12);
    background-color: palette(background, person-boxes);
    //border-top: 3px solid palette(border, box-left-border);

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: palette(background, button-continue);

        -webkit-transition: transform 0.33s ease-out;
        -o-transition: transform 0.33s ease-out;
        transition: transform 0.33s ease-out;
    }

    &:after {
        width: 3px;
        height: 100%;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    &.notComplete {
        &:before {
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%);
        }
        &:after {
            -webkit-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
        }
    }
}

.person-box,
.flight-box {
    height: $person-box-height;
}

.question-item {
    border: none;
}

.person-box {
    display: inline-block;
    width: 47%;
    height: 400px;
    float: left;
    margin-right: 3%;
    padding: 0 40px;

    &:nth-of-type(2n+1) {
        margin-left: 3%;
        margin-right: 0;
    }
}

/**
 * persons
 **/
.person-images,
.person-info {
    display: block;
    position: relative;
    width: 100%;
    height: 170px;
    padding-top: 30px;
}

.person-info {
    padding: 20px 0;
    height: 130px;
}

.cmdt-icon,
.cmdt-label {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0px auto;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: palette(text, dark);
}

.cmdt-icon.profile-image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-size: cover;
}

.pilot-name-input,
.pilot-number-input,
.pilot-label-input {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    font-size: 14px;
    text-align: center;
    color: palette(text, dark);
    outline: transparent;
    border: none;
}

.pilot-name-input {
    font-weight: 600;
    font-size: 16px;
}

.cmdt-label {
    line-height: 40px;
}

.person-info-field {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    padding: 0 30px;
}

.person-info-label {
    display: block;
    width: 100%;
    height: 20px;
    text-align: left;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.5;
    color: palette(text, label);
}

.person-info-input {
    display: block;
    width: 100%;
    height: 32px; // if heights change change here
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.06);
    border: solid 1px palette(border);
    border-radius: 4px;
    padding: 0 10px;
    color: palette(text, dark);
}

.person-options,
.captain-options {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    padding: 30px 0;
    border-top: 1px solid palette(border);
}

.captain-options {
    height: 80px;
    padding: 20px 0;
}

.edit-person-details-button,
.confirm-captain-details-button {
    display: block;
    position: relative;
    width: 200px;
    height: 40px;
    margin: auto;
    border: none;
    outline: none;
    color: palette(text, label);
    text-decoration: underline;
    background: transparent;
    cursor: pointer;
}

.confirm-captain-details-button {
    float: right;
    text-align: right;
    width: 30px;
    font-size: 14px;
    color: palette(border, box-left-border);
}

.captain-info-fields-wrapper {
    display: block;
    position: relative;
    height: 240px;
    width: 100%;
    padding: 30px 0;
}

.captain-info-field {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
}

.edit-captain-info-wrapper {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: #fff;

    -webkit-transition: transform 0.33s ease-out;
    -o-transition: transform 0.33s ease-out;
    transition: transform 0.33s ease-out;

    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

.person-box.notComplete {
    .edit-captain-info-wrapper {
        -webkit-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }
}

/**
 * flight info
 **/
.flight-box-info {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 140px;
}

.flight-box-leg-info {
    display: inline-block;
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    padding-top: 50px;
}

.flight-box-leg-name,
.flight-box-leg-number {
    width: 100%;
    height: 30px;
    color: palette(text, dark);
    font-size: 14px;
    text-align: center;
    margin: 0;
}

.flight-box-leg-name {
    font-size: 17px;
    font-weight: 600;
    line-height: 2;
}

.flight-box-icon {
    display: block;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 55px;
    left: 50%;
    margin-left: -30px;
}

.flight-box-button {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    text-align: center;
    color: palette(border, box-left-border);
    font-size: 12px;
}

/**
 * questions
 **/
.question-item-header {
     height: 75px;
     padding: 25px 40px;
     border-left: 3px solid palette(border, box-left-border);
     cursor: pointer;
}

.question-item-header-number,
.question-item-header-title,
.sub-question-item-number,
.sub-question-item-title {
     display: inline-block;
     position: relative;
     height: 25px;
     width: 30px;
     height: 100%;
     margin: 0;
     line-height: 25px;
     font-weight: 600;
     font-size: 15px;
     text-transform: uppercase;
}

.question-item-header-title,
.sub-question-item-title {
     width: 200px;
}

.questions-group-zone {
     display: block;
     position: relative;
     width: 100%;
}

.question-sub-title {
     display: block;
     position: relative;
     width: 100%;
     height: 0px;
     padding: 0;
     font-weight: 600;
     font-size: 15px;
     text-transform: uppercase;
     background-color: palette(background, sub-title-questions);

     @include openQuestionTransition();
}

.question-sub-header-name {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 100%;
     margin: 0;
     line-height: 1.5;
}

.question-sub-question-item {
     display: block;
     position: relative;
     width: 100%;
     height: 0px;
     padding: 0;
     border: none;
     background-color: #fff;

     @include openQuestionTransition();
}

.sub-question-item-title {
     text-transform: none;
}

.sub-question-answers-wrapper,
.questions-sub-choices {
    display: inline-block;
    position: relative;
    float: right;
    width: 250px;
    height: 100%;
}

.answer-options-header {
    display: inline-block;
    position: relative;
    width: 33.3%;
    height: 100%;
    float: left;
    font-size: 10px;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;

    &.clickable {
        border-radius: 4px;
        background-color: palette(background, standard-select-all);
        cursor: pointer;
    }
}

.radio-click-wrapper {
    display: inline-block;
    position: relative;
    float: left;
    width: 33.3%;
    height: 100%;

    input[type=radio] {
        display: none;
    }

    label {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        margin: auto;
        border-radius: 50%;
        background-color: palette(background, base);
    }

    input:checked + label {
        background-color: palette(answers, standard);
    }

    &:nth-of-type(2) {
        input:checked + label {
            background-color: palette(answers, non-standard);
        }
    }

    &:nth-of-type(3) {
        input:checked + label {
            background-color: palette(answers, n-a);
        }
    }
}

.question-item.open {
     .question-sub-title {
        padding: 10px 40px;
        height: $questions-sub-header-height;
        cursor: pointer;
     }
}

.questions-group-zone.open {

     .question-sub-question-item {
        height: 75px;
        padding: 25px 40px;
        border: 1px solid palette(border, question-border);
     }

}