<!-- information-tip -->
<section class="information-tip">
    <div class="info-tip-icon"><em>i</em></div>
    <p class="info-tip-closed-text">
        This is an information tip. You can open to read more and check details.
    </p>
</section>
<!-- information-tip -->

<!-- pilot box -->
<section class="person-box">
    <div class="person-images">
        <div class="cmdt-icon">
            <img src="images/captain-icon.png" alt="captain-icon">
        </div>
        <div class="cmdt-label">CM 1</div>
    </div>
    <div class="person-info">
        <div class="person-info-field">
            <label class="person-info-label">NAME</label>
            <input class="person-info-input" type="text"/>
        </div>

        <div class="person-info-field">
            <label class="person-info-label">TAP NUMBER</label>
            <input class="person-info-input" type=""/>
        </div>
    </div>
</section>

    <!-- pilot box -->
<section class="person-box">
    <div class="person-images">
        <div class="cmdt-icon">
            <img src="images/captain-icon.png" alt="captain-icon">
        </div>
        <div class="cmdt-label">CM 2</div>
    </div>
    <div class="person-info">
        <div class="person-info-field">
            <label class="person-info-label">NAME</label>
            <input class="person-info-input" type="text"/>
        </div>

        <div class="person-info-field">
            <label class="person-info-label">TAP NUMBER</label>
            <input class="person-info-input" type=""/>
        </div>
    </div>
</section>

<h4 class="flight-details-title">Flight Details</h4>

<section class="flight-box">
    <div class="flight-box-info">
        <div class="flight-box-leg-info">
            <p class="flight-box-leg-name">LIS - ORY</p>
            <p class="flight-box-leg-number">TP0605</p>
        </div>
        <div class="flight-box-icon">
            <img src="images/returnflight-icon.png" alt="">
        </div>
        <div class="flight-box-leg-info">
            <p class="flight-box-leg-name">ORY - LIS</p>
            <p class="flight-box-leg-number">TP0605</p>
        </div>
    </div>
    <a class="flight-box-button" href="#">edit flight details</a>
</section>